.anim {
    position: absolute;
    animation: mymove 10s;
    animation-timing-function: steps(1,1);
    z-index: 0 !important;
    animation-fill-mode: backwards;
}

@keyframes mymove {
    from {left: -500px;}
    to {left: 2500px;}
}

.tajemstvi {
    opacity: 0;
    transition: 3s;
    overflow: hidden;
    border: none !important;
}

.tajemstvi:hover {
    transition: 15s;
    border: none;
}