
table {
    width: 50%;
    
}

table.ceneter {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border-collapse: collapse;
    background-color: whitesmoke;
    border: solid 2px orange;
    color: black !important;
    text-align: left;
}


[rowspan], tfoot {
    background-color: white;
}

dt {
    font-weight: 800;
    font-size: 1.5em;
}

dd {
    font-style: italic;
    margin-top: 10px;
    margin-left: 0;
}

th {
    background-color: rgb(109, 106, 106);
    text-align: center;
}
