main {
    width: 80%;
    margin: 0 auto;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 23%;
    padding: 10px;
  }
  
  div.gallery img:hover {
    transform:rotateZ(360deg);
    transition-duration: 2s;
    
  
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    border: none;
 
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    border: black 3px solid;
    margin-top: -15px;
    border-radius: 0px 0px 10px 10px;
    background-image: linear-gradient(to top right, whitesmoke, rgb(0, 247, 255));
    color: black;
  }

.clear {
    clear: both;
}

@media only screen and (max-width: 1200px) {
    main {
        width: 90%;
    }

    div.gallery {
        width: 30%;
      }
}

@media only screen and (max-width: 800px) {
    div.gallery {
        width: 45%;
      }
}

@media only screen and (max-width: 500px) {
    div.gallery {
        width: 100%;
      }
}

img:hover {
  transform: scale(1);
}
